.example-form {
}

.example-full-width {
  width: 1000px;
  font-size: 25px;
  padding-right: 10px;
}

.input-height {
  /*height: 50px;*/
}

.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  align-items: center;

  /*padding-top: 100px;*/
  /*padding-bottom: 50px;*/
}

.container-form {
  justify-content:  center;
}

.list-item {
  font-size: 12px;
}
.card-item {
  width: 1400px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-para {
  margin-left: 16px;
}
.list-item-height {
  /*height: 20px;*/
}

.btn {
  font-size: 20px;
  font-weight: bolder;
}

.search-icon{
  padding-right: 16px;
}

.center {
  display: block;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 200px;
  padding-right: 16px;
}


.kwic-logo {
  font-size: xx-large;
}


a:link {
  text-decoration: none;
}

/*a:visited {*/
  /*text-decoration: none;*/
/*}*/

/*a:hover {*/
  /*text-decoration: underline;*/
/*}*/

/*a:active {*/
  /*text-decoration: underline;*/
/*}*/

