<!--<img class="center" src="assets/logo.png">-->

<!--<h1 class="kwic-logo">KWIC</h1>-->
<form class="example-form container">

<!--<div class="container-form">-->
  <img class="center" src="assets/logo.png">
  <!--<mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>-->
  <mat-form-field class="example-full-width" appearance="outline">
    <!--<input matInput class="input-height"  [(ngModel)]="line" [ngModelOptions]="{standalone: true}" value="">-->
    <input class="input-height" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

    <!--<input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
    <!--<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
      <!--<mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
        <!--{{option.name}}-->
      <!--</mat-option>-->
    <!--</mat-autocomplete>-->
  </mat-form-field>

  <mat-form-field>
    <!--<mat-label>Favorite food</mat-label>-->
    <mat-select [(ngModel)]="selectedValue" name="opt">
      <mat-option *ngFor="let opt of searchOpts" [value]="opt.key">
        {{opt.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<button mat-button class="btn" color="primary" (click)="onClick()">Search
</button>
<!--</div>-->
</form>



<mat-list >
<h4 mat-subheader *ngIf="results && results.length > 0">Search results</h4>
<!--<mat-list-item style="height: 60px" *ngFor="let line of results">-->
<!--<p mat-line class="list-item"> <a href="{{line}}" >{{line}}</a> </p>-->
  <div class="card-item" *ngFor="let line of results">
  <!--<mat-card class="card-item" >-->
  <mat-card>
    <!--<a href="{{line}}" >{{line.url}}</a>-->
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{line.heading}}</mat-card-title>
      <mat-card-subtitle><a href="{{line.url}}" >{{line.url}}</a></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="card-para">
        {{line.desc}}
      </p>
    </mat-card-content>
  </mat-card>
  </div>
<!--</mat-list-item>-->


</mat-list>

<!--<h4 mat-subheader *ngIf="line && results.length == 0">No search results found</h4>-->



