<!--<img class="center" src="assets/logo.png">-->

<!--<h1 class="kwic-logo">KWIC</h1>-->
<form class="example-form container">

<!--<div class="container-form">-->
  <img class="center" src="assets/logo.png">
  <!--<mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>-->
  <mat-form-field class="example-full-width" appearance="outline">
    <!--<input matInput class="input-height"  [(ngModel)]="line" [ngModelOptions]="{standalone: true}" value="">-->
    <input class="input-height" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

    <!--<input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
    <!--<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
      <!--<mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
        <!--{{option.name}}-->
      <!--</mat-option>-->
    <!--</mat-autocomplete>-->
  </mat-form-field>

<button mat-button class="btn" color="primary" (click)="onClick()">Search
</button>
<!--</div>-->
</form>


<!--&lt;!&ndash;<form class="example-form">&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" placeholder="Enter text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-autocomplete #auto="matAutocomplete">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option *ngFor="let option of filteredOptions | async" [value]="option">&ndash;&gt;-->
        <!--&lt;!&ndash;{{option}}&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-autocomplete>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-list >&ndash;&gt;-->
  <!--&lt;!&ndash;<h4 mat-subheader *ngIf="csArray && csArray.length > 0">Circular Shifted Lines</h4>&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-list-item style="height: 20px" *ngFor="let line of csArray">&ndash;&gt;-->
    <!--&lt;!&ndash;<p mat-line class="list-item"> {{line}} </p>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-list-item>&ndash;&gt;-->
  <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-divider *ngIf="csArray && csArray.length > 0"></mat-divider>&ndash;&gt;-->
  <!--&lt;!&ndash;<h4 mat-subheader *ngIf="noiseRemovedArray && noiseRemovedArray.length > 0">Noise Removed Lines</h4>&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-list-item style="height: 20px"  class="list-item-height" *ngFor="let line of noiseRemovedArray">&ndash;&gt;-->
    <!--&lt;!&ndash;<p mat-line class="list-item"> {{line}} </p>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-list-item>&ndash;&gt;-->
  <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-divider *ngIf="noiseRemovedArray && noiseRemovedArray.length > 0"></mat-divider>&ndash;&gt;-->
  <!--&lt;!&ndash;<h4 mat-subheader *ngIf="outputArray && outputArray.length > 0" >Alphabetized Lines</h4>&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-list-item style="height: 20px"  *ngFor="let line of outputArray">&ndash;&gt;-->
    <!--&lt;!&ndash;<p mat-line class="list-item"> {{line}} </p>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-list>&ndash;&gt;-->


<mat-list >
<h4 mat-subheader *ngIf="results && results.length > 0">Search results</h4>
<mat-list-item style="height: 20px" *ngFor="let line of results">
<p mat-line class="list-item"> <a href="{{line}}" >{{line}}</a> </p>
</mat-list-item>
</mat-list>



<!--<form class="example-form">-->
<!--&lt;!&ndash;<mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>&ndash;&gt;-->
<!--<mat-form-field class="" >-->
  <!--&lt;!&ndash;<input matInput class="input-height"  [(ngModel)]="line" [ngModelOptions]="{standalone: true}" value="">&ndash;&gt;-->
  <!--&lt;!&ndash;<input class="input-height" matInput [formControl]="myControl" [matAutocomplete]="auto">&ndash;&gt;-->
  <!--&lt;!&ndash;<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-option *ngFor="let option of filteredOptions | async" [value]="option">&ndash;&gt;-->
      <!--&lt;!&ndash;{{option}}&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-autocomplete>&ndash;&gt;-->

  <!--<input type="text" placeholder="" aria-label="" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
  <!--<mat-autocomplete #auto="matAutocomplete">-->
    <!--&lt;!&ndash;[displayWith]="displayFn">&ndash;&gt;-->
  <!--<mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
  <!--{{option}}-->
  <!--</mat-option>-->
  <!--</mat-autocomplete>-->
<!--</mat-form-field>-->
<!--</form>-->

<!--<button mat-button class="btn" color="primary" (click)="onClick()">Search-->
<!--</button>-->
